
//colors
$_white: #fff;
$_black: #1F2023;
$_grey: #27292D;
$_greyLight: #9FA0A1;
$_pink: #EE7474;
$_blue:#74C3EE;


//font-family
$ff1: 'Montserrat', sans-serif;
$ff2: 'Roboto', sans-serif;
$ff3: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;