@import '../../../sass/variables';
.container {
   background-color: $_white;
   height: 100%;
}

.headerContent {
   width: 100%;
   min-height: 100%;

   display: grid;
   grid-template-columns: minmax(150px, auto) 1fr;
   grid-template-areas: 
      "logo main"
   ;
   gap: 16px
}

.logo {
   grid-area: logo;
   width: 100%;
   height: 100%;
}

.main {
   grid-area: main;
   width: 100%;
   height: 100%;
}