@import '../../sass/style.scss';
.container {
   width: 100%;
   min-height: 100vh;

   display: grid;
   grid-template: minmax(48px, auto) 1fr / 1fr;
   grid-template-areas: 
      "header"
      "main"
   ;
   gap: 16px
}

.header {
   display: block;
   grid-area: header;
}

.main {
   display: block;
   grid-area: main;
}



