.wrapper {}

.list {
   padding: 36px 15xp 20px;
}

.item {
   padding: 10px;
}

.link {
   display: block;
   padding: 6px 0;
   color: black;
   cursor: pointer;
}

.link:hover {
   color: rebeccapurple;
}